/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 590px), only screen and (max-device-width: 590px)  {

    body {
      max-width: 500px;
    }

    #pageHeader {
      position: relative;
      height: 175px;
    }

    #pageHeader img {
      width: 175px;
      height: 175px;
      /*display: block;*/
      float: none;
      text-align: center;
      margin: 0 auto;
    }

    #pageHeader nav {
      /*position: absolute;*/
      /*top: 0;*/
      /*left: 175px;*/
      float: left;
      width: 100%;
    }

    #pageHeader ul {
      height: 175px;
      width: 100%;
    }

    #pageHeader li {
      line-height: 33px;
      display: block;
      border: 1px solid black;
      padding: 0 2em;
    }

    #pageHeader li:hover {
    }

    #mainSection {
      width: 100%;
    }

    #mainSection aside {
      width: 100%;
    }

    #mainSection section {
      width: 100%;
    }


    footer {
    }
}